<%- include('partials/_header') %>

<body>
  <main>
    <div class="card text-center">
      <div class="card-header"></div>
      <div class="card-body">
        <h5 class="card-title">TinyURL for: <%= longURL %></h5>
        <p class="card-text">Short URL: <a href="/u/<%= shortURL %>"><%= shortURL %></a></p>
      </div>
      <div class="card-footer text-muted"></div>
      <h2 class="card-title">Edit</h2>
      <form class="form-inline justify-content-center" action="/urls/<%= shortURL %>/edit" method="POST">
        <div class="form-group mb-2">
          <label for="longURL">New URL:</label>
          <input class="form-control" type="text" name="longURL" placeholder="https://"
            style="width: 300px; margin: 1em">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
</body>
</main>

</html>
